body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;


}

#root {
  display: flex;
  justify-content: center;
}

html {
  --neutral-300: #E0E3EB;
  --green-500: #10B981;
  --green-100: #D1FAE5;
  --neutral-300: #E0E3EB;
  --neutral-500: #888B97;
  --neutral-700: #3C4563;
  --neutral-100: #F0F3FD;
  background-color: red;
}